<!-- ADD NEW TODOS -->
<div class="centreTasks" data-ng-controller="ShowHideController as showHide" >
	<div >
		<a href data-ng-click="showHide.showHideAll()">Show/hide done tasks</a>
		<a href data-ng-controller="ManageTodosController as manage" data-ng-click="manage.removeAllDone()">Remove all done tasks</a>
	</div>
	<form name="addTodo" data-ng-controller="ManageTodosController as manage" data-ng-submit="manage.addNewTodo()">
		<input type="text" data-ng-model="manage.todo.title" class="task"> 
		<input type="submit" value="" style="visibility: hidden;">
		<div>
			<ul>
				<li data-ng-repeat="todo in manage.allTodos" data-ng-hide="checked && showHide.hide" id="{{todo.id}}">
					<div>
						<input type="checkbox" data-ng-click="manage.mark(todo.id)" data-ng-model="checked">{{todo.title}}
						<i class="fa fa-times" data-ng-click="manage.remove(todo.id)"></i>
					</div>
				</li>
			</ul>
			<input type="button" class="btn btn-primary" data-ng-click="manage.clear()" value="New list">
		</div>
	</form>
</div>