<div data-ng-controller="AllTodosController as all">
 	<ul>
		<li data-ng-repeat="todos in allTodos">
			Todo list {{$index + 1}}
			<ol>
				<li data-ng-repeat="task in todos.tasks track by $index">
				{{task}}
				</li>
			</ol>
		</li>
	</ul>	
	<button data-ng-click="all.refresh()">Refresh</button>
</div>