<!DOCTYPE>
<html data-ng-app="todos">
<head>
<title>Todos</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body style="background-color: aliceblue;">
<span data-ng-show="!user">
	<a href="#/">Main </a>
</span>
<span data-ng-show="user" data-ng-controller="LogoutController as lc">
	<a href="#allTodos">All todos </a>
	<a href="#addNewTodo">Create new todos </a>
	<a href data-ng-click="lc.logout()">logout </a>
</span>

<div data-ng-view></div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.4.5/angular-route.js"></script>  
	<script type="text/javascript" src="/app/app.angular.controller.js"></script>
	<script type="text/javascript" src="/app/app.angular.controller.manageTodos.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
</body>
</html>