<!-- LOGIN FORM -->
<div>
	<form name="regForm" data-ng-controller="RegistrationController as registration" data-ng-submit="regForm.$valid && registration.registerUser()" novalidate>
		<div id="legend">
		      <legend class="">
		      	<span class="center">Register</span>
		      </legend>
		</div>
		<div class="center">
		    <div class="control-group">
		      <!-- Username -->
		      <label class="control-label"  for="username">Username</label>
		      <div class="controls">
		        <input type="text" placeholder="" class="input-xlarge" data-ng-model="registration.userToRegister.username">
		      </div>
		    </div>
		 
		    <div class="control-group">
		      <!-- E-mail -->
		      <label class="control-label" for="email">E-mail</label>
		      <div class="controls">
		        <input type="email" placeholder="" class="input-xlarge" data-ng-model="registration.userToRegister.email">
		      </div>
		    </div>
		 
		    <div class="control-group">
		      <!-- Password-->
		      <label class="control-label" for="password">Password</label>
		      <div class="controls">
		        <input type="password" placeholder="" class="input-xlarge" data-ng-model="registration.userToRegister.password">
		      </div>
		    </div>
		 
		    <div class="control-group">
		      <!-- Button -->
		      <div class="controls">
		        <input type="submit" class="btn btn-primary" value="Register">
		      </div>
		    </div>
		</div>	 
	</form>
	<!-- LOGIN FORM -->
	<form name="loginForm" data-ng-controller="LoginController as login" data-ng-submit="loginForm.$valid && login.login()" novalidate>
		<div id="legend">
	      <legend class="">
	      	<span class="center">Login</span>
	      </legend>
	    </div>
	    <div class="center">
		    <div class="control-group">
		      <!-- Username -->
		      <label class="control-label"  for="username">Username</label>
		      <div class="controls">
		        <input type="text" placeholder="" class="input-xlarge" data-ng-model="login.userToLogin.username">
		      </div>
		    </div>
		 
		    <div class="control-group">
		      <!-- Password-->
		      <label class="control-label" for="password">Password</label>
		      <div class="controls">
		        <input type="password" placeholder="" class="input-xlarge" data-ng-model="login.userToLogin.password">
		      </div>
		    </div>
		 
		    <div class="control-group">
		      <!-- Button -->
		      <div class="controls">
		        <input type="submit" class="btn btn-primary" value="Login">
		      </div>
		    </div>
	  	</div>
	</form>
</div>